<footer>
    <div class="body text-center">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-7">
                鄂ICP备15011050号-1<span class="dotted">|</span><br />
                &copy; @DateTime.Now.Year - 城迹 - 聚神<span class="dotted">|</span><br />
                联系我们:<br />
                <a href="mailto:god@citygee.com">god@citygee.com</a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-5">
                <a href="@Url.RouteUrl("Default", new { controller = "Home", action = "CooperativePartner" })" target="_blank">合作伙伴</a><span class="dotted">|</span><br />
                <a href="@Url.RouteUrl("Default", new { controller = "Home", action = "AppDownload" })" target="_blank">APP下载</a><span class="dotted">|</span><br />
                <a href="@Url.RouteUrl("Default", new { controller = "Home", action = "WebSiteHistory" })" target="_blank">网站历史</a><span class="dotted">|</span><br />
                <a href="@Url.RouteUrl("Default", new { controller = "Home", action = "AboutUs" })" target="_blank">关于我们</a>
            </div>
        </div>
        <div id="isweixin" style="display:none;padding:20px;">
            <img src="~/Content/Images/components/weixin.jpg" class="img-responsive" style="display:inline-block;" />
        </div>
    </div>
</footer>