@using OldHouse.Web.Extension
@model OldHouse.Web.Models.PageControl

<ul class="pagination @(Model.UseAjax? "paging-ajax":"")" target="@(Model.PageContentId)">
    @{
        var prePage = Model.CurrentPage - 1;
        <li  class="@(Model.CurrentPage <= 1 ? "disabled" : "")"><a class="pageNumber"  href="@(Url.GetPagingRoute(new {page = prePage, pagesize = Model.PageSize}, Model))">&laquo;</a></li>
    }

    @for (int i = 1; i < Model.CurrentPage; i++)
    {
        if (i == 2)
        {
            if ((Model.CurrentPage-2 -2)> 1) //the second 2 is the page number befor or after the cuurent page
            {
                <li class="disabled"><a href="javascript:void(0)">...</a></li>
                i = Model.CurrentPage - 2 - 1;//the 2 is the page number befor the current and -1 is for i++
                continue;
            }
            else
            {
                <li><a class="pageNumber" href="@(Url.GetPagingRoute(new {page = i}, Model))">@i</a></li>
                continue;
            }
            
        }
        <li><a class="pageNumber" href="@(Url.GetPagingRoute(new {page = i}, Model))">@i</a></li>
    }

    <li class="active"><a href="javascript:void(0)">@Model.CurrentPage</a></li>

    @for (int j = Model.CurrentPage + 1; j <= Model.LastPage; j++)
    {
        if (j > Model.CurrentPage + 2 && j < Model.LastPage)
        {
            if (j < Model.LastPage - 1) //the second 2 is the page number befor or after the cuurent page
            {
                <li class="disabled"><a href="javascript:void(0)">...</a></li>
                <li><a class="pageNumber" href="@(Url.GetPagingRoute(new {page = Model.LastPage}, Model))">@Model.LastPage</a></li>
            }
            else
            {
                <li><a class="pageNumber" href="@(Url.GetPagingRoute(new {page = j}, Model))">@j</a></li>
                <li><a class="pageNumber" href="@(Url.GetPagingRoute(new {page = Model.LastPage}, Model))">@Model.LastPage</a></li>
            }
            break;
        }
        <li><a class="pageNumber" href="@(Url.GetPagingRoute(new {page = j}, Model))">@j</a></li>
    }

    <li class="@(Model.CurrentPage >= Model.LastPage ? "disabled" : "")"><a id="test"class="pageNumber"  href="@(Url.GetPagingRoute(new {page = Model.CurrentPage + 1}, Model))">&raquo;</a></li>
    @if (Model.AutoPaging)
    {
        <li>
            <a href="javascript:void(0);">
                <span style="font-weight:lighter !important;" onclick="checkMe()">自动加载</span>
                <div class="my-checkbox">
                    <input type="checkbox" id="checkboxInput" />
                    <label for="checkboxInput"></label>
                </div>
            </a>
        </li>
    }
</ul>


<script>
    wireupPaging();
    function checkMe()
    {
        $("#checkboxInput").prop("checked", !$("#checkboxInput").is(":checked"));
    }
</script>



