@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "我附近的城迹";
}
@using OldHouse.Web.Models
@model System.Collections.Generic.IEnumerable<OldHouse.Web.Models.HouseBrief>

<div class="banner-section" style="margin-bottom:40px;">
    <div class="input-group row full-width">
        <div class="distpicker col-sm-4">
            <select id="Province" class="form-control refreshUserCity" style="width:50%;"></select>
            <select id="City" class="form-control refreshUserCity" style="width:50%;"></select>
        </div>
        @if (ViewBag.UserClient == "Browser")
        {
            <div class="col-sm-8">
                <input type="text" class="form-control search" name="search" placeholder="Search for..." style="width:80%;">
                <input class="btn btn-default" type="button" id="searchHouses" style="width:20%;" value="Go!" />
            </div>
        }
        else
        {
            <div style="display:none;">
                <input type="text" class="form-control search" name="search" placeholder="Search for..." style="width:80%;">
                <input class="btn btn-default" type="button" id="searchHouses" style="width:20%;" value="Go!" />
            </div>
        }
    </div>
</div>

<div id="content">

</div>
<div id="loading-more" class="container"></div>

<div class="page" style="display:none;">
    @if (ViewBag.PageControl.LastPage > 1)
    {
        ViewBag.PageControl.AutoPaging = true;
        @Html.Partial("_PartialPaging", (PageControl)ViewBag.PageControl)
    }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/dist")
    <script src="/Scripts/freewall.js"></script>
    <script>
    $(function () {
        var query = getQueryJson();
        if (query.search) {
            $("input[name='search']").val(query.search);
        }
        //if (!$.cookie('citygee-currentcity'))
        //{
        //    $.cookie("citygee-currentprovince", "湖北省", { expires: 7 });
        //    $.cookie("citygee-currentcity", "武汉市", { expires: 7 });
        //}
        console.log("cookie:" + $.cookie("citygee-currentprovince") + $.cookie("citygee-currentcity"));
        var currentProvince = "@ViewBag.CurrentProvince";
        var currentCity = "@ViewBag.CurrentCity";
        console.log("server:" + currentProvince + currentCity);
        $(".distpicker").distpicker({
            province: currentProvince,
            city: currentCity,
            placeholder: false
        });
        getLocation(redirectPosition);
        $(".banner-section").slideDown("slow", function () {
            // Animation complete.
        });

        wall = new Freewall("#content");
        wall.reset({
            selector: '.card',
            animate: true,
            cellW: 250,
            cellH: 'auto',
            onResize: function () {
                wall.fitWidth();
            }
        });

        $("#checkboxInput").prop("checked", true);
        $(window).scroll(function () {
            var a = $(this).scrollTop();
            var b = $(this).height();
            var c = $(document).height();
            var nextPage = parseInt($("#content").data("currentPage")) + 1;
            var lastPage = parseInt($("#content").data("lastPage"));
            if (a + b == c && $("#checkboxInput").is(":checked") && (nextPage <= lastPage)) {
                console.log("nextPage:" + nextPage);
                $("#content").data("currentPage", nextPage);
                var query = "?search=" + $("input[name='search']").val() + "&page=" + $("#content").data("currentPage") + "&pagesize=" + $("#content").data("pageSize");
                var route = $("#content").data("route");
                appendBlock(route + query);
                if (nextPage == lastPage) {
                    alertModal("没有更多了");
                }
            }
        });
    });

    function redirectPosition(position) {
        //set current city
        $(".distpicker").distpicker({
            placeholder: false,
            province: position.Province,
            city: position.City,
        });
        //load the real near view with current location
        var query = "?search=" + $("input[name='search']").val() + "&page=@(ViewBag.PageControl.CurrentPage)&pagesize=@(ViewBag.PageControl.PageSize)";
        var route = "/house/realnear/" + position.coords.longitude + "/" + position.coords.latitude;
        $("#content").data("route", route);
        $("#content").data("currentPage", "@(ViewBag.PageControl.CurrentPage)");
        $("#content").data("lastPage", "@(ViewBag.PageControl.LastPage)");
        $("#content").data("pageSize", "@(ViewBag.PageControl.PageSize)");
        appendBlock(route + query);
    }
    function appendBlock(url) {
        $('#loading-more').load("/home/loadingmore");
        $.get(url, function (data) {
            var cards = $(data).filter("div.card");
            wall.appendBlock(cards);
            wall.container.find('.card img').load(function () {
                wall.fitWidth();
            });
            setTimeout(function () { $('#loading-more').empty(); }, 1000);
        });
    }

    $("select.refreshUserCity").change(function () {
        setTimeout(function () {
            var province = $("#Province").children('option:selected').val();
            var city = $("#City").children('option:selected').val();
            $.cookie("citygee-currentprovince", province, { expires: 7 ,path: '/'});
            $.cookie("citygee-currentcity", city, { expires: 7, path: '/' });
            amplify.request({
                resourceId: "refreshUserCity",
                data: { currentCity: city, currentProvince: province },
                success: function () {
                    console.log("success");
                    location.reload();
                },
                error: function () {
                    console.log("error");
                }
            });
        }, 500);
    });
    $("#searchHouses").click(function () {
        var search = $("input[name='search']").val();
        var query = getQueryJson();
        if (search == "") {
            delete query.search;
        }
        else {
            query.search = search;
        }
        location.search = jsonToSearch(query);
    });
    $("input[name='search']").bind('keypress', function (event) {
        if (event.keyCode == "13") {
            $("#searchHouses").click();
        }
    });
    </script>
}